# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://egcfmwgrusizjdgnsgqj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVnY2Ztd2dydXNpempkZ25zZ3FqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODYzNjAwNjYsImV4cCI6MjAwMTkzNjA2Nn0.E6Jf_02_a9XJdZuMqkuagkUITBPDap1BZXAo8cW75oE